<h1 mat-dialog-title>Editar fonte de renda</h1>
<div mat-dialog-content>
    <p>Qual é o tipo de fonte de renda?</p>
    <mat-form-field appearance="fill">
        <mat-label>Tipo de fonte de renda</mat-label>
        <input matInput [(ngModel)]="data.type">
    </mat-form-field>
    <p>Qual é o novo valor para a fonte de renda?</p>
    <mat-form-field appearance="fill">
        <mat-label>Valor</mat-label>
        <input matInput [(ngModel)]="data.amount">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="not">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>