<mat-card class="card-source-income">
  <mat-form-field appearance="fill">
    <mat-label>Salário</mat-label>
    <input
      matInput
      maxlength="3"
      placeholder="Ex. 4000"
      [(ngModel)]="enterSalary"
      type="number"
      name="salaryInput"
    />
  </mat-form-field>
  <div class="demo-button-container">
    <button
      mat-raised-button
      (click)="addSalary()"
      class="demo-button"
      name="addSalaryButton"
    >
      Adicionar salário
    </button>
  </div>
</mat-card>

<mat-card class="card-source-income">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Tipo fonte de renda</mat-label>
    <input
      matInput
      placeholder="Ex. Freelance"
      [(ngModel)]="enterType"
      name="sourceIncomeInput"
      pattern="[a-zA-Z ]*"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Valor</mat-label>
    <input
      matInput
      maxlength="3"
      placeholder="Ex. 2000"
      [(ngModel)]="enterAmount"
      type="number"
      name="sourceIncomeAmountInput"
    />
  </mat-form-field>
  <div class="demo-button-container">
    <button
      mat-raised-button
      (click)="addNewAmount()"
      class="demo-button"
      name="addSourceIncomeButton"
    >
      Adicionar fonte de renda
    </button>
  </div>
</mat-card>

<mat-card>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table"
  >
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Fonte de renda</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="editData(element.id)" [disabled]="!this.actionButtons">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeData(element.id)" [disabled]="!this.actionButtons">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="confirm-button">
    <button
      mat-raised-button
      color="primary"
      (click)="confirmInput()"
      class="confirm-button"
      [disabled]="!this.confirmButton"
    >
      Confirmar
    </button>
  </div>
</mat-card>
