.card-source-income {
    margin-bottom: 1rem;
}

.form-field {
    margin-right: 1rem;
}

td {
    padding-right: 8px;
}

.demo-table {
    width: 100%;
}

.demo-button-container {
    padding-bottom: 16px;
}

.demo-button+.demo-button {
    margin-left: 8px;
}

.confirm-button {
    margin-top: 1rem;
}