<div class="container">
  <app-navbar></app-navbar>
  <form>
    <h2>Informe abaixo seu salário e demais fontes de renda</h2>
    <mat-form-field appearance="fill">
      <mat-label>Salário</mat-label>
      <input type="number" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Soma das demais fontes de renda</mat-label>
      <input type="number" matInput />
    </mat-form-field>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary">
        <a routerLink="/home">REGISTRAR</a>
      </button>
    </mat-card-actions>
  </form>
</div>
