<div class="container">
    <mat-card class="card">
      <mat-card-title>Cadastro</mat-card-title>
      <mat-card-subtitle>Sistema de controle financeiro</mat-card-subtitle>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="email" type="email" matInput placeholder="email@email.com" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input [(ngModel)]="password" type="password" matInput placeholder="insira sua senha" />
        </mat-form-field>
      </div>
      <mat-card-actions>
        <button mat-button mat-raised-button color="primary"><a routerLink="/">ENTRAR</a></button>
        <button (click)="(onSignUp(email, password))" mat-button>CADASTRAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
  